# Node.js / Frontend
node_modules/
dist/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
backend/venv/
env/
.venv/
*.log
.env

# Machine Learning / Data
*.pkl
*.joblib

# OS / Editor settings
.DS_Store
.vscode/
.idea/